#workflow {
	width: 75%;
	background: #2C57B2;
	color: #ffffff;
	padding: 20px;	
	margin: 40px;
	border-radius: 5px;
	border: 1px solid black;
}

.gitCommand {
	color: #000000;
	white-space:nowrap;
}

.gitCommand:hover {
	color: #ffffff;
}

.tooltipster-sidetip .tooltipster-box .tooltipster-content{
	background: #ffffff;
	color: #000000;
}

#logo {
	width: 200px;
	hight: 200px;
	border-radius: 5px;
}

#gitTable {
	border: 2px solid black;
}

#gitTable th {
	border-right: 1px solid #dddddd;
}